<!DOCTYPE html>
<html>
    <head>
        <title>Hello Metalfans - Test yourself!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
<body style="background-color:grey;">
    <div class="px-4 py-3 my-2 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/crazy-data-science.png') }}" 
        alt="CDS Logo" width="192" height="192"/>
    <h1>Rate how M*E*T*A*L are you!!!</h1>
</div>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="submit" value="Test Me!">
    </form>
</body>
</html>
